############################
# LOGS
############################
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# NODE / FRONTEND
\ ############################
node_modules/
dist/
dist-ssr/
*.local

############################
# .NET / ASP.NET / BLAZOR
############################
bin/
obj/
.vs/

*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json

############################
# VISUAL STUDIO
############################
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# OS / EDITOR
############################
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.sw?
